*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 23px;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: wheat;
    flex-direction: column;
    padding: 50px 0;
}
section h1{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 50px;
}
section p{
    text-align: center;
    width: 100%;
    margin-top: 40px;
}
.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
}
.texts p{
    text-align: left;
    width: 100%;
    background-color: burlywood;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}   